html, body {
	font-size: 1rem;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
	background: none;
	cursor: pointer;
	border: none;
}

button:focus {
	outline: none;
}

strong, h1 {
	font-weight: bold;
}

.header {
	align-items: center;
	display: flex;
	font-size: 4.0rem;
	justify-content: space-around;
	padding: 25px 0px 15px 0px;
}

.header__logo {
	background-image: url('/books-readings-site/resources/imgs/book.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	height: 80px;
	width: 80px;
}

.header__logarButton {
	background: #d39b6d;
	border-radius: 8px;	
	color: white;
	font-size: 1.6rem;
	padding: 10px 20px;
	position:relative;
	top: 0;
	transition: top 0.5s;	
}

.header__logarButton:active {
	background: #b3855f;
	top: 3px;
}

.section__principal {
	background: #b37949;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 60px 20px 40px 20px;
}

.section__principal h1 {
	font-size: 3.5rem;
	margin-bottom: 35px;
}

.section__principal h2 {
	font-size: 2.0rem;
	margin-bottom: 10px;
}

.section__principal__descricao {
	font-size: 1.1rem;
	padding: 20px 10px 0 0;
}

.section__principal__comprarButtonArea {
	margin: 40px 0 0 0;
	text-align: center;
}

.section__principal__comprarButton {	
	background: #6e3e17;
	border-radius: 12px;
	font-weight: 400;	
	color: white;
	font-size: 1.6rem;
	padding: 12px 70px;
	position: relative;
	top: 0;
	transition: top 0.5s;
}

.section__principal__comprarButton:hover  {
	opacity: 0.9;
}

.section__principal__comprarButton:active {
	background: #6e3e20;
	opacity: 0.8;
	top: 3px;
}

.footer {
	padding: 80px 20px 30px 20px;
	color: #b37949;
}

.footer h3 {
	font-weight: bold;
	font-size: 1.4rem;
	text-align:center;
	margin-bottom: 25px;
}

.footer, .footer__listaContatos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.footer a {
	color: #b37949;
}

.footer a:hover {
	opacity: 0.8;
}

.footer__listaContatos li {
	text-align: center;
	padding: 5px 7px;
	margin-bottom: 5px;
}

.section__leituraLivro h3,
.section__livro h3,
.section__autor h3,
.section__comentario h3 {
	font-size: 2.3rem;
	font-weight: bold;
	text-align: center;
}

.section__leituraLivro__descricao,
.section__livro__descricao,
.section__autor__descricao,
.section__comentario__descricao {
	padding: 50px 40px 0px 20px;
	font-size: 1.4rem;
}

.section__leituraLivro__icon,
.section__livro__icon,
.section__autor__icon,
.section__comentario__icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25px;
}

.section__leituraLivro__icon {
	background-color: #b3855f;
	background-image: url('/books-readings-site/resources/imgs/reading.svg');
	background-size: 90%;
	border: 5px solid #b3855f;
}

.section__livro__icon {
	background-color: white;
	background-image: url('/books-readings-site/resources/imgs/books.svg');
	background-size: 80%;
	border: 5px solid white;
}

.section__autor__icon {
	background-color: #d39b6d;
	background-image: url('/books-readings-site/resources/imgs/authors.svg');
	background-size: 80%;
	border: 5px solid #d39b6d;
}

.section__comentario__icon {
	background-color: white;
	background-image: url('/books-readings-site/resources/imgs/comments.svg');
	background-size: 72%;
	border: 5px solid white;
}

.section__leituraLivro__iconArea,
.section__livro__iconArea,
.section__autor__iconArea,
.section__comentario__iconArea {
	display: flex;
	justify-content: center;
	padding: 50px 0 0 0;
}

.section__leituraLivro,
.section__livro,
.section__autor,
.section__comentario {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	padding: 60px 20px 25px 20px;
}

.section__leituraLivro {
	background: white;
	color: #b3855f;
}

.section__livro {
	background: #b3855f;
	color: white;
}

.section__autor {
	background: white;
	color: #d39b6d;
}

.section__comentario {
	background: #d39b6d;
	color: white;
}

@media(min-width: 980px) {
	
	.section__principal h1,
	.section__principal h2,
	.section__principal__descricao,
	.section__autor__descricao,
	.section__livro__descricao,
	.section__leituraLivro__descricao,
	.section__comentario__descricao {
		width: 900px;
	}
	
	.section__principal,
	.section__autor,
	.section__livro,
	.section__leituraLivro,
	.section__comentario{
		align-items: center;
	}
}

@media(min-width: 1140px) {
	.section__principal h1 {
		font-size: 4.0rem;
	}
}
